extends layout

block content
  .container
    h2= "Database Contents (users table):"
    ul
      each val, index in results
        li= index + ': ' + val.first_name + " " + val.last_name + " - " + val.email_address 
